@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap");

.clear {
  clear: both;
}

body {
  font: 18px/36px "Bebas Neue", "Arial Narrow", arial, sans-serif;
  background-color: #ddd;
}

h1 {
  font-size: 100px;
  margin: 50px 0;
  text-align: center;
  text-shadow: 1px 1px 1px white;
}

.container {
  width: 600px;
  background-color: white;
  margin: auto;
  padding: 30px;
  box-shadow: 0 0 3px 3px rgba(0, 0, 0, 0.2);
  border-radius: 15px;
}

.gallery li {
  width: 120px;
  height: 120px;
  border: 5px solid #333;
  float: left;
  margin: 0 5px;
  position: relative;
}

.gallery li,
.gallery li img,
.gallery li span {
  border-radius: 50%;
}

.gallery li span {
  display: block;
  width: 120px;
  height: 120px;
  background-color: rgba(200, 200, 200, 0.5);
  position: absolute;
  top: 0;
  text-align: center;
  line-height: 120px;
  color: #333;
  text-shadow: 1px 1px 1px #ddd;
  opacity: 0;
}

.gallery li:hover span {
  animation: hoverFade 0.3s forwards;
}

.overlay {
  width: 0;
  height: 0;
  overflow: hidden;
  position: fixed;
  text-align: center;
  padding: 100px 0;
  z-index: 9999;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0);
}

.overlay:target {
  width: auto;
  height: auto;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
}

.overlay img {
  max-height: 100%;
  box-shadow: 0 0 7px rgba(0, 0, 0, 0.5);
}

.overlay:target img {
  animation: zoomFade 0.6s;
}

.overlay .close {
  background-color: royalblue;
  position: absolute;
  border-radius: 2px;
  margin-left: auto;
  margin-right: 5px;
  margin-top: 5px;
  padding: 4px 4px 2px 4px;
  line-height: 20px;
  color: white;
  text-decoration: none;
  opacity: 0;
}

.overlay:target .close {
  animation: close 0.5s 0.5s forwards;
}

/* animations */

@keyframes hoverFade {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@keyframes zoomFade {
  0% {
    transform: scale(0);
    opacity: 0;
  }

  100% {
    transform: scale(1);
    opacity: 1;
  }
}

@keyframes close {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}
